*,*:before,*:after {
box-sizing: border-box;
}
body{
    background:#E0C9A6;
    margin: 0 auto;
}
.marine{
    display:block;
    width:20em;
    padding:20px;
    margin-left:auto;
    margin-right:auto;
    animation-name:birting;
    animation-duration:5s;
    grid-area: logo;
}

@keyframes birting{
    0%{opacity:0;}
    100%{opacity:100%}
}
.midja{
    background: lightgreen;
    grid-area: midja;
}
.hæg{
    background:crimson;
    grid-area: hæg;
}
.vin{
    background:honeydew;
    grid-area: vins;
}
.main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    "logo logo logo"
    "vins midja hæg"
    "footer footer footer";
    display: grid;
}
h3{
    text-align: center;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.footer{
    grid-area: footer;
    text-align: center;
    background-color: darkorange;
}