*,*:before,*:after {
box-sizing: border-box;
}
body{
    background:#E0C9A6;
    margin: 0 auto;
}
header{
    background:white;
}
.marine{
    display:block;
    width:20em;
    padding:20px;
    margin-left:auto;
    margin-right:auto;
    animation-name:birting;
    animation-duration:2s;
}

@keyframes birting{
    0%{opacity:0;}
    100%{opacity:100%}
}
.midja{
    background: lightgreen;
    grid-area: midja;
}
.hæg{
    background:crimson;
    grid-area: hæg;
}
.vin{
    background:honeydew;
    grid-area: vins;
}
.main{
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    "vins midja hæg"
    ;
}
